.App {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  #coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

 .side-a {
    background-color: red;
    color: white;
    text-align: center;
  }
  .side-b {
    background-color: green;
    color: white;
    text-align: center;
  }
  